<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <div class="login">
            <input v-model="name">
            <input type="password" v-model="password">
            <button @click.prevent="onSubmit">로그인</button>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    name: "",
                    password: ""
                }

            },
            methods: {
                onSubmit() {
                    console.log(this.name, this.password);
                }
            }
        });
    </script>
</body>

</html>